<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<style type="text/css">
      		html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    	</style>
	</head>
	<body>

		<div class="container" style="width: 70%; padding: 20px;">
			<div class="row">
				<aside ng-controller="LocationController as locationCtrl" class="col-xs-6 col-md-4">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="loc in locationCtrl.locations | orderBy:'-(votes.up-votes.down)'">
							<h4>{{loc.name}}</h3>
							<h6>{{loc.address}}</h6>
							<button class="btn btn-success" ng-click="locationCtrl.upVote(loc)">
								<span class="glyphicon glyphicon-thumbs-up" ng-model="loc.votes.up"></span>
								{{loc.votes.up}}
							</button>
							<button class="btn btn-danger" ng-click="locationCtrl.downVote(loc)">
								<span class="glyphicon glyphicon-thumbs-down" ng-model="loc.votes.down"></span>
								{{loc.votes.down}}
							</button>
						</li>
					</ul>
					<div style="text-align: right;padding-bottom:10px;">
						<button class="btn btn-warning" ng-click="locationCtrl.resetVotes()">
							<span class="glyphicon glyphicon-trash"></span>
							Reset Votes
						</button>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							New Location
						</div>
						<div class="panel-body">
							<form class="input-group" name="newLocationForm">
								<input type="text" ng-model="locationCtrl.newLocation.name" required placeholder="Name">
								<input type="text" ng-model="locationCtrl.newLocation.address" required placeholder="Address">
								<button ng-click="locationCtrl.addLocation()" class="btn btn-default">Add</button>
							</form>
						</div>
					</div>
				</aside>
				<div id="map-canvas" class="col-xs-12 col-md-8" style="height: 800px"></div>
			</div>
		</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBoCzFA2wtbS4cye4re2Amv-GihTSE1O4"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="app.js"></script>	
		<script src="location.js"></script>	
		<script src="map.js"></script>
	</body>
</html>
